body {
  background: #ccc;
  text-align: center;
}

#container {
  background: #fff;
  display: inline-block;
  padding: 20px;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

#viewport {
  box-shadow: inset 0 0 10px #aaa;
  border: 1px solid #888;
}